In [1]:
2 + 2

4

In [2]:
50 - 5*6

20

In [3]:
(50 - 5*6) / 4

5.0

In [5]:
8 / 5

1.6

In [1]:
17 / 3

5.666666666666667

In [2]:
17 // 3

5

In [3]:
17 % 3

2

In [4]:
5 * 3 + 2

17

In [6]:
5 ** 2

25

In [7]:
2 ** 7

128

In [8]:
width = 20

In [9]:
width = 20
height = 5 * 9
width * height

900

In [10]:
>>> n  
Traceback (most recent call last):
  File "<stdin>", line 1, in <module>

SyntaxError: invalid syntax (<ipython-input-10-573a54b95759>, line 2)

In [11]:
4 * 3.75 - 1

14.0

In [12]:
>>> tax = 12.5 / 100
>>> price = 100.50
>>> price * tax

12.5625

In [13]:
>>> price + _

113.0625

In [14]:
>>> round(_, 2)

113.06

In [15]:
>>> 'spam eggs'  # single quotes

'spam eggs'

In [16]:
'doesn\'t'  # use \' to escape the single quote...

"doesn't"

In [17]:
"doesn't"  # ...or use double quotes instead

"doesn't"

In [18]:
'"Yes," they said.'

'"Yes," they said.'

In [19]:
"\"Yes,\" they said."

'"Yes," they said.'

In [20]:
'"Isn\'t," they said.'

'"Isn\'t," they said.'

In [21]:
'"Isn\'t," they said.'

'"Isn\'t," they said.'

In [22]:
print('"Isn\'t," they said.')

"Isn't," they said.

In [23]:
s = 'First line.\nSecond line.'  # \n means newline

In [24]:
>>> s = 'First line.\nSecond line.'  # \n means newline
>>> s  # without print(), \n is included in the output

'First line.\nSecond line.'

In [25]:
>>> print(s)  # with print(), \n produces a new line

First line.
Second line.

In [26]:
>>> print('C:\some\name')  # here \n means newline!

C:\some
ame

In [27]:
print(r'C:\some\name')  # note the r before the quote

C:\some\name

In [28]:
print("""\
Usage: thingy [OPTIONS]
     -h                        Display this usage message
     -H hostname               Hostname to connect to
""")

Usage: thingy [OPTIONS]
     -h                        Display this usage message
     -H hostname               Hostname to connect to

In [29]:
>>> # 3 times 'un', followed by 'ium'
>>> 3 * 'un' + 'ium'

'unununium'

In [30]:
>>> 'Py' 'thon'

'Python'

In [31]:
>>> text = ('Put several strings within parentheses '
...         'to have them joined together.')
>>> text

'Put several strings within parentheses to have them joined together.'

In [32]:
>>> prefix = 'Py'
>>> prefix 'thon'  # can't concatenate a variable and a string literal
  File "<stdin>", line 1
    prefix 'thon'

SyntaxError: invalid syntax (<ipython-input-32-35befcc8929a>, line 2)

In [33]:
>>> prefix + 'thon'

NameError: name 'prefix' is not defined

In [34]:
>>> word = 'Python'
>>> word[0]  # character in position 0

'P'

In [35]:
>>> word[5]  # character in position 5

'n'

In [36]:
>>> word[-1]  # last character

'n'

In [37]:
>>> word[-2]  # second-last character

'o'

In [38]:
>>> word[-6]

'P'

In [39]:
>>> word[0:2]  # characters from position 0 (included) to 2 (excluded)

'Py'

In [40]:
>>> word[2:5]  # characters from position 2 (included) to 5 (excluded)

'tho'

In [41]:
>>> word[:2] + word[2:]

'Python'

In [42]:
>>> word[:4] + word[4:]

'Python'

In [43]:
>>> word[:2]   # character from the beginning to position 2 (excluded)

'Py'

In [44]:
>>> word[4:]   # characters from position 4 (included) to the end

'on'

In [45]:
>>> word[-2:]  # characters from the second-last (included) to the end

'on'

In [46]:
>>> word[42]  # the word only has 6 characters

IndexError: string index out of range

In [47]:
>>> word[4:42]

'on'

In [48]:
>>> word[42:]

''

In [49]:
>>> word[0] = 'J'

TypeError: 'str' object does not support item assignment

In [50]:
>>> word[2:] = 'py'

TypeError: 'str' object does not support item assignment

In [51]:
>>> 'J' + word[1:]

'Jython'

In [52]:
>>> word[:2] + 'py'

'Pypy'

In [53]:
>>> s = 'supercalifragilisticexpialidocious'
>>> len(s)

34

In [54]:
>>> squares = [1, 4, 9, 16, 25]
>>> squares

[1, 4, 9, 16, 25]

In [55]:
>>> squares[0]  # indexing returns the item

1

In [56]:
>>> squares[-1]

25

In [57]:
>>> squares[-3:]  # slicing returns a new list

[9, 16, 25]

In [58]:
>>> squares[:]

[1, 4, 9, 16, 25]

In [64]:
>>> squares + [36, 49, 64, 81, 100]

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [60]:
>>> cubes = [1, 8, 27, 65, 125]  # something's wrong here

In [61]:
>>> cubes = [1, 8, 27, 65, 125]  # something's wrong here
>>> 4 ** 3  # the cube of 4 is 64, not 65!

64

In [62]:
>>> cubes.append(216)  # add the cube of 6
>>> cubes.append(7 ** 3)  # and the cube of 7
>>> cubes

[1, 8, 27, 65, 125, 216, 343]

In [63]:
>>> letters = ['a', 'b', 'c', 'd', 'e', 'f', 'g']
>>> letters

['a', 'b', 'c', 'd', 'e', 'f', 'g']

In [65]:
>>> # replace some values
>>> letters[2:5] = ['C', 'D', 'E']
>>> letters

['a', 'b', 'C', 'D', 'E', 'f', 'g']

In [66]:
>>> # now remove them
>>> letters[2:5] = []
>>> letters

['a', 'b', 'f', 'g']

In [67]:
>>> # clear the list by replacing all the elements with an empty list
>>> letters[:] = []
>>> letters

[]

In [68]:
>>> letters = ['a', 'b', 'c', 'd']
>>> len(letters)

4

In [69]:
>>> a = ['a', 'b', 'c']
>>> n = [1, 2, 3]
>>> x = [a, n]
>>> x

[['a', 'b', 'c'], [1, 2, 3]]

In [70]:
>>> x[0]

['a', 'b', 'c']

In [71]:
>>> x[0][1]

'b'

In [72]:
>>> # Fibonacci series:
... # the sum of two elements defines the next
... a, b = 0, 1
>>> while a < 10:
...     print(a)
...     a, b = b, a+b

0
1
1
2
3
5
8

In [73]:
>>> i = 256*256
>>> print('The value of i is', i)

The value of i is 65536

In [74]:
>>> a, b = 0, 1
>>> while a < 1000:
...     print(a, end=',')
...     a, b = b, a+b
...

0,1,1,2,3,5,8,13,21,34,55,89,144,233,377,610,987,

In [75]:
>>> x = int(input("Please enter an integer: "))
Please enter an integer: 42
>>> if x < 0:
...     x = 0
...     print('Negative changed to zero')
... elif x == 0:
...     print('Zero')
... elif x == 1:
...     print('Single')
... else:
...     print('More')
...

SyntaxError: invalid syntax (<ipython-input-75-097e981b6db0>, line 2)

In [ ]:
>>> x = int(input("Please enter an integer: "))

In [ ]:
>>> if x < 0:
...     x = 0
...     print('Negative changed to zero')
... elif x == 0:
...     print('Zero')
... elif x == 1:
...     print('Single')
... else:
...     print('More')
...

In [ ]:
>>> if x < 0:
...     x = 0
...     print('Negative changed to zero')
... elif x == 0:
...     print('Zero')
... elif x == 1:
...     print('Single')
... else:
...     print('More')
...

In [ ]:
>>> # Measure some strings:
... words = ['cat', 'window', 'defenestrate']
>>> for w in words:
...     print(w, len(w))
...

In [ ]:
# Strategy:  Iterate over a copy
for user, status in users.copy().items():
    if status == 'inactive':
        del users[user]

# Strategy:  Create a new collection
active_users = {}
for user, status in users.items():
    if status == 'active':
        active_users[user] = status

In [ ]:
>>> for i in range(5):
...     print(i)
...

In [ ]:
range(5, 10)
   5, 6, 7, 8, 9

range(0, 10, 3)
   0, 3, 6, 9

range(-10, -100, -30)
  -10, -40, -70

In [ ]:
>>> a = ['Mary', 'had', 'a', 'little', 'lamb']
>>> for i in range(len(a)):
...     print(i, a[i])
...

In [ ]:
>>> print(range(10))
range(0, 10)

In [ ]:
>>> sum(range(4))  # 0 + 1 + 2 + 3

In [ ]:
>>> list(range(4))

In [ ]:
>>> for n in range(2, 10):
...     for x in range(2, n):
...         if n % x == 0:
...             print(n, 'equals', x, '*', n//x)
...             break
...     else:
...         # loop fell through without finding a factor
...         print(n, 'is a prime number')
...

In [ ]:
>>> for num in range(2, 10):
...     if num % 2 == 0:
...         print("Found an even number", num)
...         continue
...     print("Found a number", num)

In [ ]:
>>> while True:
...     pass  # Busy-wait for keyboard interrupt (Ctrl+C)
...

In [ ]:
>>> class MyEmptyClass:
...     pass
...

In [ ]:
>>> def initlog(*args):
...     pass   # Remember to implement this!
...

In [ ]:
>>> def fib(n):    # write Fibonacci series up to n
...     """Print a Fibonacci series up to n."""
...     a, b = 0, 1
...     while a < n:
...         print(a, end=' ')
...         a, b = b, a+b
...     print()
...

In [ ]:
>>> # Now call the function we just defined:
... fib(2000)

In [ ]:
>>> fib
<function fib at 10042ed0>
>>> f = fib

In [ ]:
>>> f(100)

In [ ]:
>>> fib(0)
>>> print(fib(0))

In [ ]:
>>> def fib2(n):  # return Fibonacci series up to n
...     """Return a list containing the Fibonacci series up to n."""
...     result = []
...     a, b = 0, 1
...     while a < n:
...         result.append(a)    # see below
...         a, b = b, a+b
...     return result
...
>>> f100 = fib2(100)    # call it

In [ ]:
>>> f100                # write the result

In [ ]:
def ask_ok(prompt, retries=4, reminder='Please try again!'):
    while True:
        ok = input(prompt)
        if ok in ('y', 'ye', 'yes'):
            return True
        if ok in ('n', 'no', 'nop', 'nope'):
            return False
        retries = retries - 1
        if retries < 0:
            raise ValueError('invalid user response')
        print(reminder)

In [ ]:
i = 5

def f(arg=i):
    print(arg)

i = 6
f()

In [ ]:
def f(a, L=[]):
    L.append(a)
    return L

print(f(1))
print(f(2))
print(f(3))

In [ ]:
def f(a, L=None):
    if L is None:
        L = []
    L.append(a)
    return L

In [ ]:
def parrot(voltage, state='a stiff', action='voom', type='Norwegian Blue'):
    print("-- This parrot wouldn't", action, end=' ')
    print("if you put", voltage, "volts through it.")
    print("-- Lovely plumage, the", type)
    print("-- It's", state, "!")

In [ ]:
parrot(1000)                                          # 1 positional argument
parrot(voltage=1000)                                  # 1 keyword argument
parrot(voltage=1000000, action='VOOOOOM')             # 2 keyword arguments
parrot(action='VOOOOOM', voltage=1000000)             # 2 keyword arguments
parrot('a million', 'bereft of life', 'jump')         # 3 positional arguments
parrot('a thousand', state='pushing up the daisies')  # 1 positional, 1 keyword

In [ ]:
parrot()                     # required argument missing
parrot(voltage=5.0, 'dead')  # non-keyword argument after a keyword argument
parrot(110, voltage=220)     # duplicate value for the same argument
parrot(actor='John Cleese')  # unknown keyword argument

In [ ]:
>>> def function(a):
...     pass
...
>>> function(0, a=0)

In [ ]:
def cheeseshop(kind, *arguments, **keywords):
    print("-- Do you have any", kind, "?")
    print("-- I'm sorry, we're all out of", kind)
    for arg in arguments:
        print(arg)
    print("-" * 40)
    for kw in keywords:
        print(kw, ":", keywords[kw])

In [ ]:
>>> def standard_arg(arg):
...     print(arg)
...

In [ ]:
>>> def pos_only_arg(arg, /):
...     print(arg)

In [ ]:
>>> def kwd_only_arg(*, arg):
...     print(arg)
...

In [ ]:
>>> def combined_example(pos_only, /, standard, *, kwd_only):
...     print(pos_only, standard, kwd_only)

In [ ]:
>>> standard_arg(2)

In [ ]:
>>> standard_arg(arg=2)

In [ ]:
>>> pos_only_arg(1)

In [ ]:
>>> pos_only_arg(arg=1)

In [ ]:
>>> kwd_only_arg(3)

In [ ]:
>>> kwd_only_arg(arg=3)

In [ ]:
>>> combined_example(1, 2, 3)

In [ ]:
>>> combined_example(1, 2, kwd_only=3)

In [ ]:
>>> combined_example(1, standard=2, kwd_only=3)

In [ ]:
>>> combined_example(pos_only=1, standard=2, kwd_only=3)

In [ ]:
def foo(name, **kwds):
    return 'name' in kwds

In [ ]:
>>> foo(1, **{'name': 2})

In [ ]:
def foo(name, /, **kwds):
    return 'name' in kwds
>>> foo(1, **{'name': 2})
True

In [ ]:
def f(pos1, pos2, /, pos_or_kwd, *, kwd1, kwd2):

In [ ]:
def write_multiple_items(file, separator, *args):
    file.write(separator.join(args))

In [ ]:
>>> def concat(*args, sep="/"):
...     return sep.join(args)
...

In [ ]:
>>> concat("earth", "mars", "venus")

In [ ]:
>>> concat("earth", "mars", "venus", sep=".")

In [ ]:
>>> list(range(3, 6))            # normal call with separate arguments

In [ ]:
>>> args = [3, 6]
>>> list(range(*args))            # call with arguments unpacked from a list

In [ ]:
>>> def parrot(voltage, state='a stiff', action='voom'):
...     print("-- This parrot wouldn't", action, end=' ')
...     print("if you put", voltage, "volts through it.", end=' ')
...     print("E's", state, "!")
...

In [ ]:
>>> d = {"voltage": "four million", "state": "bleedin' demised", "action": "VOOM"}
>>> parrot(**d)

In [ ]:
>>> def make_incrementor(n):
...     return lambda x: x + n
...

In [ ]:
>>> f = make_incrementor(42)
>>> f(0)

In [ ]:
>>> f(1)

In [ ]:
>>> pairs = [(1, 'one'), (2, 'two'), (3, 'three'), (4, 'four')]
>>> pairs.sort(key=lambda pair: pair[1])
>>> pairs

In [ ]:
>>> def f(ham: str, eggs: str = 'eggs') -> str:
...     print("Annotations:", f.__annotations__)
...     print("Arguments:", ham, eggs)
...     return ham + ' and ' + eggs
...
>>> f('spam')

In [1]:
>>> fruits = ['orange', 'apple', 'pear', 'banana', 'kiwi', 'apple', 'banana']
>>> fruits.count('apple')

2

In [2]:
>>> fruits.count('tangerine')

0

In [3]:
>>> fruits.index('banana')

3

In [4]:
>>> fruits.index('banana', 4)  # Find next banana starting a position 4

6

In [5]:
>>> fruits.reverse()
>>> fruits

['banana', 'apple', 'kiwi', 'banana', 'pear', 'apple', 'orange']

In [6]:
>>> fruits.append('grape')
>>> fruits

['banana', 'apple', 'kiwi', 'banana', 'pear', 'apple', 'orange', 'grape']

In [7]:
>>> fruits.sort()
>>> fruits

['apple', 'apple', 'banana', 'banana', 'grape', 'kiwi', 'orange', 'pear']

In [8]:
>>> fruits.pop()
'pear'

'pear'

In [9]:
>>> stack = [3, 4, 5]
>>> stack.append(6)
>>> stack.append(7)
>>> stack

[3, 4, 5, 6, 7]

In [10]:
>>> stack.pop()

7

In [11]:
>>> stack

[3, 4, 5, 6]

In [12]:
>>> stack.pop()

6

In [13]:
>>> stack.pop()

5

In [14]:
>>> stack

[3, 4]

In [15]:
>>> from collections import deque
>>> queue = deque(["Eric", "John", "Michael"])
>>> queue.append("Terry")           # Terry arrives
>>> queue.append("Graham")          # Graham arrives
>>> queue.popleft()                 # The first to arrive now leaves

'Eric'

In [16]:
>>> queue.popleft()                 # The second to arrive now leaves

'John'

In [17]:
>>> queue                           # Remaining queue in order of arrival

deque(['Michael', 'Terry', 'Graham'])

In [18]:
>>> squares = []
>>> for x in range(10):
...     squares.append(x**2)
...
>>> squares

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [19]:
squares = list(map(lambda x: x**2, range(10)))

In [20]:
squares = [x**2 for x in range(10)]

In [21]:
>>> [(x, y) for x in [1,2,3] for y in [3,1,4] if x != y]

[(1, 3), (1, 4), (2, 3), (2, 1), (2, 4), (3, 1), (3, 4)]

In [22]:
>>> combs = []
>>> for x in [1,2,3]:
...     for y in [3,1,4]:
...         if x != y:
...             combs.append((x, y))
...
>>> combs

[(1, 3), (1, 4), (2, 3), (2, 1), (2, 4), (3, 1), (3, 4)]

In [23]:
>>> vec = [-4, -2, 0, 2, 4]
>>> # create a new list with the values doubled
>>> [x*2 for x in vec]

[-8, -4, 0, 4, 8]

In [24]:
>>> # filter the list to exclude negative numbers
>>> [x for x in vec if x >= 0]

[0, 2, 4]

In [25]:
>>> # apply a function to all the elements
>>> [abs(x) for x in vec]

[4, 2, 0, 2, 4]

In [26]:
>>> # call a method on each element
>>> freshfruit = ['  banana', '  loganberry ', 'passion fruit  ']
>>> [weapon.strip() for weapon in freshfruit]

['banana', 'loganberry', 'passion fruit']

In [27]:
>>> # create a list of 2-tuples like (number, square)
>>> [(x, x**2) for x in range(6)]

[(0, 0), (1, 1), (2, 4), (3, 9), (4, 16), (5, 25)]

In [28]:
>>> # the tuple must be parenthesized, otherwise an error is raised
>>> [x, x**2 for x in range(6)]
  File "<stdin>", line 1, in <module>
    [x, x**2 for x in range(6)]

SyntaxError: invalid syntax (<ipython-input-28-d1c5bc682455>, line 2)

In [29]:
>>> # flatten a list using a listcomp with two 'for'
>>> vec = [[1,2,3], [4,5,6], [7,8,9]]
>>> [num for elem in vec for num in elem]

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [30]:
>>> from math import pi
>>> [str(round(pi, i)) for i in range(1, 6)]

['3.1', '3.14', '3.142', '3.1416', '3.14159']

In [31]:
>>> matrix = [
...     [1, 2, 3, 4],
...     [5, 6, 7, 8],
...     [9, 10, 11, 12],
... ]

In [32]:
>>> [[row[i] for row in matrix] for i in range(4)]

[[1, 5, 9], [2, 6, 10], [3, 7, 11], [4, 8, 12]]

In [33]:
>>> transposed = []
>>> for i in range(4):
...     transposed.append([row[i] for row in matrix])
...
>>> transposed

[[1, 5, 9], [2, 6, 10], [3, 7, 11], [4, 8, 12]]

In [34]:
>>> transposed = []
>>> for i in range(4):
...     # the following 3 lines implement the nested listcomp
...     transposed_row = []
...     for row in matrix:
...         transposed_row.append(row[i])
...     transposed.append(transposed_row)
...
>>> transposed

[[1, 5, 9], [2, 6, 10], [3, 7, 11], [4, 8, 12]]

In [35]:
>>> list(zip(*matrix))

[(1, 5, 9), (2, 6, 10), (3, 7, 11), (4, 8, 12)]

In [36]:
>>> a = [-1, 1, 66.25, 333, 333, 1234.5]
>>> del a[0]
>>> a

[1, 66.25, 333, 333, 1234.5]

In [37]:
>>> del a[2:4]
>>> a

[1, 66.25, 1234.5]

In [38]:
>>> del a[:]
>>> a

[]

In [39]:
>>> del a

In [40]:
>>> t = 12345, 54321, 'hello!'
>>> t[0]

12345

In [41]:
>>> t

(12345, 54321, 'hello!')

In [42]:
>>> # Tuples may be nested:
... u = t, (1, 2, 3, 4, 5)
>>> u

((12345, 54321, 'hello!'), (1, 2, 3, 4, 5))

In [43]:
>>> # Tuples are immutable:
... t[0] = 88888

TypeError: 'tuple' object does not support item assignment

In [44]:
>>> # but they can contain mutable objects:
... v = ([1, 2, 3], [3, 2, 1])
>>> v

([1, 2, 3], [3, 2, 1])

In [45]:
>>> empty = ()
>>> singleton = 'hello',    # <-- note trailing comma
>>> len(empty)

0

In [46]:
>>> len(singleton)

1

In [47]:
>>> singleton

('hello',)

In [48]:
>>> x, y, z = t

In [49]:
>>> basket = {'apple', 'orange', 'apple', 'pear', 'orange', 'banana'}
>>> print(basket)                      # show that duplicates have been removed
{'orange', 'banana', 'pear', 'apple'}
>>> 'orange' in basket                 # fast membership testing
True
>>> 'crabgrass' in basket
False

>>> # Demonstrate set operations on unique letters from two words
...
>>> a = set('abracadabra')
>>> b = set('alacazam')
>>> a

{'orange', 'banana', 'pear', 'apple'}

{'a', 'b', 'c', 'd', 'r'}

In [50]:
>>> a - b

{'b', 'd', 'r'}

In [51]:
>>> a | b

{'a', 'b', 'c', 'd', 'l', 'm', 'r', 'z'}

In [52]:
>>> a & b

{'a', 'c'}

In [53]:
>>> a ^ b

{'b', 'd', 'l', 'm', 'r', 'z'}

In [54]:
>>> a = {x for x in 'abracadabra' if x not in 'abc'}
>>> a

{'d', 'r'}

In [55]:
>>> tel = {'jack': 4098, 'sape': 4139}
>>> tel['guido'] = 4127
>>> tel

{'jack': 4098, 'sape': 4139, 'guido': 4127}

In [56]:
>>> tel['jack']

4098

In [57]:
>>> del tel['sape']
>>> tel['irv'] = 4127
>>> tel

{'jack': 4098, 'guido': 4127, 'irv': 4127}

In [58]:
>>> list(tel)

['jack', 'guido', 'irv']

In [59]:
>>> sorted(tel)

['guido', 'irv', 'jack']

In [60]:
>>> 'guido' in tel

True

In [61]:
>>> 'jack' not in tel

False

In [62]:
>>> dict([('sape', 4139), ('guido', 4127), ('jack', 4098)])

{'sape': 4139, 'guido': 4127, 'jack': 4098}

In [63]:
>>> {x: x**2 for x in (2, 4, 6)}

{2: 4, 4: 16, 6: 36}

In [64]:
>>> dict(sape=4139, guido=4127, jack=4098)

{'sape': 4139, 'guido': 4127, 'jack': 4098}

In [65]:
>>> knights = {'gallahad': 'the pure', 'robin': 'the brave'}
>>> for k, v in knights.items():
...     print(k, v)
...

gallahad the pure
robin the brave

In [66]:
>>> for i, v in enumerate(['tic', 'tac', 'toe']):
...     print(i, v)
...

0 tic
1 tac
2 toe

In [67]:
>>> questions = ['name', 'quest', 'favorite color']
>>> answers = ['lancelot', 'the holy grail', 'blue']
>>> for q, a in zip(questions, answers):
...     print('What is your {0}?  It is {1}.'.format(q, a))
...

What is your name?  It is lancelot.
What is your quest?  It is the holy grail.
What is your favorite color?  It is blue.

In [68]:
>>> for i in reversed(range(1, 10, 2)):
...     print(i)
...

9
7
5
3
1

In [69]:
>>> basket = ['apple', 'orange', 'apple', 'pear', 'orange', 'banana']
>>> for f in sorted(set(basket)):
...     print(f)
...

apple
banana
orange
pear

In [70]:
>>> import math
>>> raw_data = [56.2, float('NaN'), 51.7, 55.3, 52.5, float('NaN'), 47.8]
>>> filtered_data = []
>>> for value in raw_data:
...     if not math.isnan(value):
...         filtered_data.append(value)
...
>>> filtered_data

[56.2, 51.7, 55.3, 52.5, 47.8]

In [71]:
>>> string1, string2, string3 = '', 'Trondheim', 'Hammer Dance'
>>> non_null = string1 or string2 or string3
>>> non_null

'Trondheim'